<a href="https://colab.research.google.com/github/BimalShrestha/data-process-and-visualization-/blob/main/bimalsquiz6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## SQL Queries
#Bimal Shrestha

importing libraries

In [2]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

calculating the average trip on Austin bike share by property_type column from the bikeshare_stations table from parkland to sidewalks

In [3]:
%%bigquery --project data-viz-bimal-shrestha

WITH tbl as(
SELECT name, property_type
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`
)
SELECT tbl.property_type as stating_startion_type, 
    AVG (trips.duration_minutes) as average_min,
    COUNT(*) as number_of_trips,
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips` as trips
  JOIN tbl
  ON trips.start_station_name = tbl.name

GROUP BY tbl.property_type
ORDER by average_min

  stating_startion_type  average_min  number_of_trips
0  undetermined_parking    23.098028           225333
1                  None    25.697646            68046
2          paid_parking    25.852535           280405
3              sidewalk    29.263569           432392
4                          33.502832            19776
5              parkland    39.375957           141806
6    nonmetered_parking    49.046326            11052